{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}

    <div class="card">
        <h1 class="card-header">Fiche client</h1>
        <div class="card-body">
            <strong>Nom : </strong> {{ client.nom }}<br>
            <strong>Prénom : </strong> {{ client.prenom }}<br>
            <strong>N° identité : </strong> {{ client.nationaleId }}<br>
            <strong>Nombre de commandes : </strong> {{ client.orders|length }}<br>
        </div>
    </div>

{% endblock %}
