{% extends 'base.html.twig' %}

{% block title %}Edit Order{% endblock %}

{% block body %}
    <h1>Commande #{{ order.id }}</h1>

    {{ include('order/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
