{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block body %}
    <h1>Nouvelle commande</h1>

    <div class="card p-4">
        {{ include('order/_form.html.twig') }}
    </div>
{% endblock %}
